OPENAI_API_KEY=YOUR KEy

JIRA_BASE_URL=URl
JIRA_EMAIL=MAIL
JIRA_API_TOKEN=TOKE
AZURE_ORG=your-organization-name
AZURE_PROJECT=your-project-name
AZURE_PAT=your-azure-personal-access-token

DATABASE_URL=postgresql